<div class="container">
    <div class="jumbotron">
        <h1 id="headerfirst"> Your Daily Task List</h1>


        <p>{{test}}</p>
    </div>

    <div class="jumbotron">
        <div class="container col-sm-4-centered">

            <form ng-submit="setTask()">
            <input type="text" placeholder="what's next?" ng-model="newTask" ng-model-options="{updateOn : 'change'}"></form>

            <div class="card" ng-repeat="task in tasks">
                <div class="card-body" ng-mouseenter="mouseOver=true" ng-mouseleave="mouseOver=false">
                    <div class="col10"><i ng-class="task.status ? 'far fa-check-square done' : 'far fa-square'" ng-click="checkTask()"></i></div>
                    <div class="col80"><p ng-class="task.status ? 'done' : 'active'">{{task.text}}</p></div>

                    <div class="col10"> <i ng-hide="(mouseOver==false)||(task.status==true)" ng-click="delTask()" class="fas fa-times"></i></div>

            </div>
            

        </div>
    </div>



</div>